/* CSS FOR GAME PAGE */
* {
    box-sizing: border-box;
}

/* Background for game page */
body {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://img.freepik.com/free-photo/galactic-night-sky-astronomy-science-combined-generative-ai_188544-9656.jpg?w=1380&t=st=1710118611~exp=1710119211~hmac=b8ef6d19d947b128c6677f66b789495f9895df14090f9449b65cc1b45dfbbe7d");
    margin: 0;
}

/* SPLASH SCREEN */
#splash{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.427);
    z-index: 1000;
    color: rgb(254, 97, 0);
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 5vmin;
    font-size: 5vmin;
}

@keyframes fadeIn {
    to{
        opacity: 1;
    }
}

.fadeIn{
    opacity: 1;
    animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeOut {
    to{
        opacity: 0;
    }
}

#fadeOut{
    opacity: 0;
    animation: fadeOut 3ms ease-out backwards;
}

/* #splashTitle{
    text-align: center;
    align-content: center;
} */

#userText {
    text-align: center;
    font-size: 3vmin;
    width: 25vmin;
    height: 4vmin;
    box-shadow: 1px 1px 2em  rgb(149, 0, 255);
    border: 1px solid rgb(149, 0, 255);
}

#startBtn{
    height: 4vmin;
    width: 12vmin;
    font-size: 2vmin;
    box-shadow: 1px 1px 2em  rgb(149, 0, 255);
    border-radius: 50%;
}

#submit{
    height: 4vmin;
    width: 10vmin;
    font-size: 2vmin;
    box-shadow: 1px 1px 2em  rgb(149, 0, 255);
    border-radius: 50%;
}

/* Game page */
#title {
    text-align: center;
    align-content: center;
    color: rgb(255, 91, 3);
    font-size: 3vmin;
}

p {
    font-size: 2vmin;
}

.playerStats {
    text-align: center;
    align-content: center;
    color: rgb(191, 0, 255);
    margin-bottom: 5vmin;
}

button {
    height: 3vmin;
    width: 12vmin;
    font-size: 1.5vmin;
    background-color: rgba(0, 0, 0, 0.454);
    box-shadow: 1px 1px 2em  rgb(149, 0, 255);
    color: rgb(255, 119, 0);
}

button:hover {
    color: rgb(191, 0, 255);
}

.gameContainer {
    display: grid;
    grid-template-rows: repeat(2, 2fr);
    grid-template-columns: repeat(7, 7fr);
    height: 63vh;
}

.cards {
    margin: 5px;
    transform-style: preserve-3d;
    transform: scale(1);
    transition: transform .3s;
    border-radius: 15%;

}

.cards:hover {
    cursor: pointer;
}

.cards.flip {
    transform: rotateY(180deg);
}

.front-card,
.back-card {
    width: 100%;
    height: 100%;
    border-radius: 15%;
    position: absolute;
    transition: transform 0.1s;
    backface-visibility: hidden;
}

.front-card {
    transform: rotateY(180deg);
}

/* Cards Color = Front & Back */
#purple {
    background-color: rgba(132, 0, 255, 0.411);
}

#red {
    background-color: rgb(255, 38, 0);
}

#green {
    background-color: rgb(51, 255, 0);
}

#lightBlue {
    background-color: rgb(0, 229, 255);
}

#yellow {
    background-color: rgb(238, 255, 0);
}

#orange {
    background-color: rgb(255, 128, 0);
}

#pink {
    background-color: rgb(255, 0, 238);
}

#blue {
    background-color: rgb(34, 0, 255);
}

/* 
SPLASH  SCREEN CSS
*/

