* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

#title {

    width: 100%;
    align-content: center;
    text-align: center;
    align-content: center;
    color: rgb(255, 89, 0);
    font-size: 12vmin;
}

.startPage{
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0);
    color: rgb(254, 97, 0);
    text-align: center;
    line-height: 10vmin;
    font-size: 15vmin;
}

#startBtn{
    height: 5vmin;
    width: 12vmin;
    font-size: 2vmin;
    box-shadow: 1px 1px 2em  rgb(149, 0, 255);
    border-radius: 50%;
}

button {
    height: 3vmin;
    width: 12vmin;
    font-size: 1.5vmin;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.454);
    box-shadow: 1px 1px 2em  rgb(149, 0, 255);
    color: rgb(252, 113, 0);
}

button:hover {
    color: rgb(191, 0, 255);
}





