* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: darkgray;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://img.freepik.com/free-photo/galactic-night-sky-astronomy-science-combined-generative-ai_188544-9656.jpg?w=1380&t=st=1710118611~exp=1710119211~hmac=b8ef6d19d947b128c6677f66b789495f9895df14090f9449b65cc1b45dfbbe7d");
    margin: 0;
}

.startPage{
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0);
    color: rgb(254, 97, 0);
    text-align: center;
    line-height: 10vmin;
    font-size: 15vmin;
}

#startBtn{
    height: 4vmin;
    width: 12vmin;
    font-size: 2vmin;
    box-shadow: 1px 1px 2em  rgb(149, 0, 255);
    border-radius: 50%;
}

#submit{
    height: 4vmin;
    width: 10vmin;
    font-size: 2vmin;
    box-shadow: 1px 1px 2em  rgb(149, 0, 255);
    border-radius: 50%;
}

#userText {
    text-align: center;
    font-size: 3vmin;
    width: 25vmin;
    height: 4vmin;
    /* box-shadow: 1px 1px 2em  rgb(149, 0, 255); */
    border: 1px solid rgb(149, 0, 255);
}

#title {
    text-align: center;
    align-content: center;
    color: rgb(255, 91, 3);
    font-size: 5vmin;
}
button {
    height: 3vmin;
    width: 12vmin;
    font-size: 1.5vmin;
    background-color: rgba(0, 0, 0, 0.454);
    box-shadow: 1px 1px 2em  rgb(149, 0, 255);
    color: rgb(255, 119, 0);
}

button:hover {
    color: rgb(191, 0, 255);
}

@keyframes fadeIn {
    to{
        opacity: 1;
    }
}

.fadeIn{
    opacity: 1;
    animation: fadeIn 3s ease-in forwards;
}



